{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}
  <script type="text/javascript">(function(c,l,a,r,i,t,y){c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y)})(window,document,"clarity","script","j66qypps6g");</script>
  
  <meta name="msvalidate.01" content="E73984A8E6A62AB2E04103B41EF00802" />
  <meta name="google-site-verification" content="vVEloWBgAakC0YjCNDCx2HPu7NIEAhW-t6EK9kt4M38" />
{% endblock %}
