# Auto detect text files
* text=auto

# Standard to msysgit
*.doc       diff=astextplain
*.DOC       diff=astextplain
*.docx      diff=astextplain
*.DOCX      diff=astextplain
*.pdf       diff=astextplain
*.PDF       diff=astextplain
*.dot       diff=astextplain
*.DOT       diff=astextplain
*.rtf       diff=astextplain
*.RTF       diff=astextplain

# For GitHub Linguist
*.md linguist-detectable=true
