name: Deploy to Github Pages

on:
  workflow_run:
    workflows:
      - Prettify
    types:
      - completed

jobs:
  gh-deploy:
    runs-on: ubuntu-latest

    if: github.ref == 'refs/heads/main' && github.event.workflow_run.event == 'push' && github.event.workflow_run.conclusion == 'success'

    permissions:
      contents: write

    strategy:
      matrix:
        python-version: ["3.11"]

    steps:
      - name: Checking Out
        uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Generate sub-tables
        run: python ./scripts/split.py

      - run: mkdocs gh-deploy --force
